html, body {
    /* background-color: #080808; */
    background-color: #181818;
    margin: 0;
    padding: 0;
    color: #FBFBFB;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: #FBFBFB;
}

.link {
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
}

p {
    color: #CCCCCC;
    font-size: 20px;
}